

.userdropbox{
    color: green;
    font-size: 10px;
    background-color:#fff ;
    width: 80px;
    position: absolute;
    z-index: 200;
    right: 9%;
    top: 70px;
    /* scroll-behavior: ; */
}